<div class="sidebar slide-right">

    <div class="upperBar">
        <a><img id="back" (click) = "returnToNavbar()"src="../../assets/Back.png" alt="back"></a>
        <a id="title">{{getOffice().office_name}}</a>
    </div>

    <div class="form">
            <a *ngIf="error" style="color: orange; padding: 1vw;">{{error}}</a>
            <a class="form-text">Patient's Email:</a>
            <a><input type="email" id="inputEmail" class="form-control" required autofocus></a>
    </div>

    
    <a class="btn btn-lg btn-primary" (click) = "addPatient()" role="button">Register</a>

    <ng-template [ngIf]= "patients.length != 0" [ngIfElse]="default">
        <a class="btn btn-lg btn-primary" role="button" (click)="searchPatient()">Search</a>
        <div style="margin-top: 1.1vw;">Patient List:</div>
        <div class="PatientList" *ngFor="let patient of patients">
            <a id="{{patient.user_id}}">Name: {{patient.full_name}}
                <br>Email: {{patient.email}}
                <div id="RemovePatient" (click) = "deletePatient(patient)">Remove patient</div></a>
          </div>
    </ng-template>

    <ng-template #default>
        <p style="text-align: justify; padding: 1.25vw;">There are currently no patients registered in this office.</p>
    </ng-template>
</div>