<div class="sidebar">

    <div class="form">
        <img id="back" (click) = "returnToNavbar()"src="../../assets/Back.png" alt="back">
        <a id="title">Patient Information</a>
        <a class="form-text">Patient's Email:</a>
        <a><input type="email" id="inputEmail" class="form-control" required autofocus></a>
        <a class="btn btn-lg btn-primary" role="button">Check</a>

    </div>

    <div class="PatientList">
        <a href="#" class="active">If patient belongs in doctor's list their information will appear after putting the email</a>
    
    

</div>