.PatientList {
    width: 275px;
    height: 500px;  
    position: relative;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .PatientList a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    margin-left: auto;
    margin-right: auto; 
    text-decoration: none;
  }
  
  .PatientList a:hover {
    background-color: #ccc;
  }
  
  .PatientList a.active {
    background-color:#FF8A00;
    color: white;
  }

  .btn-primary{
    margin-top: 20px;
    color:white;
    border-color: #FF8A00;
    background-color: #FF8A00;
    width: 10vw;
}
#title{
  font-family: 'Poppins';
  font-size: 1.35vw;
  text-align: center;
  margin-left: 50px;
}

.form-text{
  margin-top: 50px;
}