<div class="sidebar">

    <div class="form">
        <a>Add Patient's email to add into the system</a>
        <a class="form-text">Patient's Email:</a>
        <a><input type="email" id="inputEmail" class="form-control" required autofocus></a>
        <a class="btn btn-lg btn-primary" role="button">Register</a>

    </div>

    <div class="PatientList">
        <a href="#" class="active">Current Patients List</a>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
        <a href="#">Link 7</a>
        <a href="#">Link 8</a>
        <a href="#">Link 9</a>
        <a href="#">Link 10</a>
      </div>

      <a class="btn btn-lg btn-primary" role="button" (click)="ReturntoNav()">Go back</a>

</div>