<div class="sidebar slide-right">
  

    <div class="form">
        <img id="back" (click) = "returnToNavbar()"src="../../assets/Back.png" alt="back">
        <a id="title">{{getOffice().office_name}}</a>
        <a class="form-text">Patient's Email:</a>
        <a><input type="email" id="inputEmail" class="form-control" required autofocus></a>
        <a class="btn btn-lg btn-primary" (click) = "addPatient()" role="button">Register</a>
    </div>

    <ng-template [ngIf]= "patients.length != 0" [ngIfElse]="default">
        Patient List:
        <div class="PatientList" *ngFor="let patient of patients">
            <a value={{patient.user_id}}>Name: {{patient.full_name}}
                <br>Email: {{patient.email}}
                <div id="RemovePatient" (click) = "deletePatient(patient)">Remove patient</div></a>
          </div>
    </ng-template>

    <ng-template #default>
        <p style="text-align: left; padding: 1vw;">There are currently no patients registered in this office.</p>
    </ng-template>



</div>