<div class="sidebar">
  

    <div class="form">
        <img id="back" (click) = "returnToNavbar()"src="../../assets/Back.png" alt="back">
        <a class="form-text">Thanks for using the COVID-19 Tracking app!</a>
        <a>To start its important to understand that there's 2 types of accounts, one for doctors and the other for regular users.</a>
        <a>As an user your visited locations are saved inside the system for the doctor's knowledge.</a>
        <a>Users are also able to see areas where infected people have been recently.</a>
        <a>On the other hand, doctors have the roles of adding patients into the app for their monitoring and to help the community close to these cases be alert to potential transmition of the virus.</a>
        <a>Lastly the app will notify users who are close to infected areas that someone with the virus was on that particular area.</a>
    </div>
        
</div>