/* You can add global styles to this file, and also import other style files */
/* latin-ext */
@font-face {
    font-family: 'Tauri';
    font-style: normal;
    font-weight: 400;
    src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v9/TwMA-IISS0AM3LpcUnQPTA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Tauri';
    font-style: normal;
    font-weight: 400;
    src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v9/TwMA-IISS0AM3LpSUnQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    max-height: 800px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Tauri';
    font-size: 20px;
    color: white;
    }

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 19.5vw; /* 200 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    text-align: center;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #C93232; 
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 0.4vw;
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    margin: auto;
    display: block;
  }

  .form{
    padding: 1vw;
    text-align: left;
    .form-control {
        width: 15vw;
        box-sizing: border-box;
        font-size: 1vw;
        margin: auto;
        display: block;
    }

    .form-text{
        margin-left: 1vw;
    }
}

.form-control:focus {
    z-index: 2;
}
  

.btn-primary{
    color:white;
    border-color: #FF8A00;
    background-color: #FF8A00;
    width: 10vw;
}

.btn-primary:hover{
    color:white;
    border-color: #f08000;
    background-color: #f08000;
}

.btn-primary:active{
    color:white;
    border-color: #cc6d00 !important;
    background-color: #cc6d00 !important;
}

#createAccount{
    transition:all .5s ease;
    -webkit-transition-delay:all .5s ease;
    -moz-transition-delay:all .5s ease;
    -ms-transition-delay:all .5s ease;
    -o-transition-delay:all .5s ease;
    }

#createAccount:hover{
    cursor: pointer;
    color: yellow;
    transition:all .5s ease;
    -webkit-transition-delay:all .5s ease;
    -moz-transition-delay:all .5s ease;
    -ms-transition-delay:all .5s ease;
    -o-transition-delay:all .5s ease;
}

#back{
  position: absolute;
  width: 10%;
  margin: 0.25vw;
  transition: transform .5s ease;
}

#title{
  font-family: 'Poppins';
  font-size: 1.8vw;
  text-align: center;
}

#back:hover {
  cursor: pointer;
  filter:    brightness(0.9)contrast(0.95)hue-rotate(0deg);
  transition: transform .5s ease;
  transform: scale(0.75);
}

.fade-in{
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.fade-out{
  animation-name: fade-out;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
      opacity:0
    }
  100% {
    opacity:1
  }
}

@keyframes fade-out {
  0% {
      opacity:1
    }
  100% {
    opacity:0
  }
}

.slide-down{
  animation-name: slide-down;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

@keyframes slide-down {
0% {
  transform: translateY(-100%);
  opacity:.1
}
100% {
  transform: translate(0, 0);
  opacity:1
}
}

.slide-up{
  animation-name: slide-up;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

@keyframes slide-up {
  100% {
    transform: translateY(-100%);
    opacity:.1
  }
  0% {
    transform: translate(0, 0);
    opacity:1
  }
}

.slide-left {
  animation: slide-left 0.8s forwards;
  -webkit-animation: slide-left 0.8s forwards;
}

@keyframes slide-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-left {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

.slide-right {
  animation: slide-right 0.8s forwards;
  -webkit-animation: slide-right 0.8s forwards;
}

@keyframes slide-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-right {
  0% { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(0%); }
}