<div class = "navbar slide-down">
    <a>
        <img id="navbar_logo" src="../../assets/Navbar logo.png">
        <b id="greeting">Hello, {{getLoggedInUser().full_name}}</b>
    </a>

    <a class="navbar_link">
        <img id = "settings_icon" src="../../assets/settings.png">
        Account Settings
    </a>

    <div *ngIf="getLoggedInDoctor() != null">
        <div class="dropdown navbar_link">
            <a class="dropbtn">Patient Actions</a>
            <div class="dropdown-content">
              <a (click) = "addOrRemovePatient()" >Add/Remove Patient</a>
              <a>Patient Information</a>
            </div>
        </div>    
    </div>

    <!-- We need to find a way to avoid the redundancy in those if statements if it is possible. If I tried to attach the
        component on the if statement of the line 12, a bug ocurred-->
    <div *ngIf="getLoggedInDoctor() != null">
        <a id="new_case">
            New COVID-19 case
        </a>
    </div>
 
    <a class="navbar_link" (click) = "logout()">
        <img id = "logout_icon" src="../../assets/logout.png">
        Logout
        
    </a>
