<div class = "navbar slide-down">
    <a>
        <img id="navbar_logo" src="../../assets/Navbar logo.png">
        <b id="greeting">Hello, {{getLoggedInUser().full_name}}</b>
    </a>

    <a class="dropdown navbar_link">
        <img id = "settings_icon" src="../../assets/settings.png">
        <a class="dropbtn">Account Settings</a>
        <div class="dropdown-content">
          <a (click) = "contactInformation()" >Change contact information</a>
          <a (click) = "addressInformation()" >Change address information</a>
        </div>
    </a>

    <ng-template [ngIf]="patientIsLogged()">
        <a class="navbar_link" (click) = "viewCovidTests()">
            My COVID-19 Tests
        </a>
    </ng-template>

    <ng-template [ngIf]="doctorIsLogged() || hasMedicalOffices()">
        <a class="dropdown navbar_link">
                <a class="dropbtn">Office Management</a>

                <div class="dropdown-content">
                    <ng-template [ngIf]="doctorIsLogged()">
                        <a (click) = "addOrRemovePatient()" >Manage Patients</a>
                        <a (click) = "manageCovidCases()">Manage COVID-19 Cases</a>
                    </ng-template>

                    <ng-template [ngIf]="hasMedicalOffices()">
                        <a (click) = "manageEmployees()">Manage Employees</a>
                    </ng-template>
                </div>
        </a>     
    </ng-template>
 
    <a class="navbar_link" (click) = "logout()">
        <img id = "logout_icon" src="../../assets/logout.png">
        Logout
    </a>

</div>