.upperBar{
    a{display: inline;}
    background-color: #FF4646;
    padding: 1.6vw;
  }

  .form{
    text-align: left;
    font-size: 1.1vw;
    font-family: Poppins;
    .office{
      color: yellow;
    }
  }

  #title{
    font-size: 1.35vw;
    margin-left: 2.25vw;
  }